.Add .procedureListItem {
  border: 1px solid var(--color-border);
  display: flex;
  width: 400px;
  margin-bottom: 5px;
  justify-content: center; 
  align-items: center; 
  cursor: pointer;
}

.Add .procedureListItem.disabled {
  opacity: 0.6;
}

.Add .procedureListItem > div {
  padding: 10px;
}
.Add .procedureListItem .name {
  flex: auto;
}
.Add .procedureListItem .properties {
  display: flex;
  justify-content: flex-end;
}
.Add .procedureListItem .properties div {
  font-size: 1.3em;
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
}
.Add .procedureListItem .properties div.secret {
  font-size: 1.2em;
}
.Add .procedureListItem .next {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
}
