.ImportContract {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width);
  position: relative;
}

.ImportContract .container {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-width: 800px;
  min-width: 400px;
  align-items: center;
}

.ImportContract .error h3 {
  text-align: center;
  color: var(--color-logo-4);
}
.ImportContract .error div {
  padding: 10px;
  font-size: 1.2em;
}

.ImportContract .buttons {
  display: flex;
  width: 130px;
  justify-content: space-between;
}
.ImportContract .buttons button {
}
